@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* navbar */
.navBar{
  background: linear-gradient(90deg, rgba(4,148,68,0.958420868347339) 12%, rgba(252,241,241,1) 50%, rgba(228,15,15,0.9472163865546218) 87%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.link{
  text-decoration: none;
   color: white;
   padding-left: 5px;
   font-size: 20px;
   margin-right: 20px;
 }
 .link:hover{
  color: #06f606;
 }

 /* carrusel */
 .banner{
  width: 90vw;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
 }
 .text{
  display: block;
  color: white;
  text-shadow: 2px 2px 8px #000000;
  margin-left: 30px;
  margin-bottom: 100px;
  font-size: 30px;
 }

 /* cards home */
 .card{
  width: 18rem;
  display: flex;
  justify-content: space-around;
 }
 .card:hover{
  box-shadow: 15px 10px 20px 10px rgba(4,148,68, 0.273);
  transition: all 0,7s linear;
}

.list{
  list-style: none;
  text-align: left;
   margin-left: 60px;
}

/* tabla carrito */
.table{
 padding-bottom: 5%;
}

/* footer */
 .footer{
  background: linear-gradient(90deg, rgba(4,148,68,0.958420868347339) 12%, rgba(252,241,241,1) 50%, rgba(228,15,15,0.9472163865546218) 87%);
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
 }